mixin blog-post(post)
    .blog-post
        .post-header
            .post-title
                =post.title
            .post-details
                span(class="post-author")
                    =post.author.name.first + ' ' + post.author.name.last + ' '
                | - 
                span(class="post-time")
                    =post._.createdAt.format('hh:mm A. MMM Do, YYYY')
        if post.image.url
                .post-image-container
                    a(class="post-image-link", href="" + post.image.url, target="_blank")
                        img(class="post-image", src="" + post.image.url)
        .post-body
            .post-body-holder
                span(class="post-body-icon-holder")
                    span(class="iconic pen_alt_fill post-body-icon", id="post-body-icon-pen")
                .post-brief
                    !=post.content.brief
            if post.content.extended
                hr
                .post-body-holder
                    span(class="post-body-icon-holder")
                        span(class="iconic book_alt2 post-body-icon", id="post-body-icon-book")
                    .post-extended
                        !=post.content.extended
